body {
    overflow: hidden;
}

.game-score {
    /*font-family: 'Audiowide', cursive;*/
    font-family: 'Press Start 2P', cursive;
    font-size: 25px;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    margin: 10px;
}